@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@source "./";
@source "../../../apps/admin/src/";
@source "../../../apps/pos/src/";
@plugin "daisyui" {
  themes: false;
  prefix: "d-";
  include: button, input, textarea, select, badge, card, alert, menu, divider, loading, progress, status, toast;
  logs: false;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #f8f7f5;
  --color-base-300: #e7e5e2;
  --color-base-content: #25262b;
  --color-primary: #bc4c06;
  --color-primary-content: #ffffff;
  --color-secondary: #343a40;
  --color-secondary-content: #ffffff;
  --color-accent: #fce5d2;
  --color-accent-content: #963d00;
  --color-neutral: #34343d;
  --color-neutral-content: #ffffff;
  --color-info: #2765b5;
  --color-info-content: #ffffff;
  --color-success: #237a49;
  --color-success-content: #ffffff;
  --color-warning: #bd7a0c;
  --color-warning-content: #281b10;
  --color-error: #b93835;
  --color-error-content: #ffffff;
  --radius-selector: 0.75rem;
  --radius-field: 0.875rem;
  --radius-box: 1.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: dark;
  --color-base-100: #222329;
  --color-base-200: #17181c;
  --color-base-300: #3a3b44;
  --color-base-content: #f2f2f5;
  --color-primary: #bc4c06;
  --color-primary-content: #ffffff;
  --color-secondary: #d2d4dc;
  --color-secondary-content: #202126;
  --color-accent: #3b2a20;
  --color-accent-content: #ffad70;
  --color-neutral: #34343d;
  --color-neutral-content: #f2f2f5;
  --color-info: #8ebcff;
  --color-info-content: #172b46;
  --color-success: #7cdda3;
  --color-success-content: #183725;
  --color-warning: #ecd095;
  --color-warning-content: #352f20;
  --color-error: #ff9690;
  --color-error-content: #452726;
  --radius-selector: 0.75rem;
  --radius-field: 0.875rem;
  --radius-box: 1.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
